<section class="section auth__section">
  <div class="container">
    <form class="form"
          [formGroup]="registrationForm"
          (ngSubmit)="onRegister()">
      <div class="p-inputgroup">
        <span class="p-input-icon-left">
          <i class="pi pi-user"></i>
          <input type="email"
                 pInputText
                 placeholder="email"
                 formControlName="email">
        </span>
      </div>
      <app-validation class="invalid-message"
                      [control]="regForm.email">
        <span required>Email is required.</span>
        <span email>Please put correct e-mail.</span>
        <span emailExist>This email address is already being used, try another one.</span>
        <span unknownError>An unknow error occured.</span>
      </app-validation>
      <div class="p-inputgroup">
        <span class="p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input type="password"
                 pPassword
                 [feedback]="false"
                 placeholder="password"
                 formControlName="password" />
        </span>
      </div>
      <app-validation class="invalid-message"
                      [control]="regForm.password">
        <span minlength>Password is too short.</span>
        <span required>Password is required.</span>
        <span repassword>Your password and confirmation password do not match.</span>
      </app-validation>
      <div class="p-inputgroup">
        <span class="p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input type="password"
                 pPassword
                 [feedback]="false"
                 placeholder="repeat password"
                 formControlName="repassword" />
        </span>
      </div>
      <app-validation class="invalid-message"
                      [control]="regForm.repassword">
        <span repassword>Your password and confirmation password do not match.</span>
        <span required>Confirmation password is required.</span>
      </app-validation>
      <p-button type="submit"
                class="registration__button"
                label="Register"></p-button>
    </form>
    <span>Do you have already account ? <a routerLink="/login">Log In</a>
    </span>
  </div>
  <p-dialog header="Title"
            modal="true"
            [(visible)]="showDialog"> Congratulations! You have been successfully registered !
    <p-button routerLink="/login"> Log in</p-button>
  </p-dialog>
</section>
