<ng-content select="[minlength]"
            *ngIf="
            control.invalid &&
            control.errors.minlength
            ">
</ng-content>
<ng-content select="[email]"
            *ngIf="
            control.invalid &&
            control.errors.email
            ">
</ng-content>
<ng-content select="[required]"
            *ngIf="
            control.invalid &&
            control.errors.required &&
            (control.touched || control.dirty)
            ">
</ng-content>
<ng-content select="[repassword]"
            *ngIf="
            control.invalid &&
            control.errors.mismatchedPasswords
            ">
</ng-content>
