<ng-content select="[minlength]"
            *ngIf="
            control.invalid &&
            control.errors.minlength
            ">
</ng-content>
<ng-content select="[email]"
            *ngIf="
            control.invalid &&
            control.errors.email
            ">
</ng-content>
<ng-content select="[required]"
            *ngIf="
            control.invalid &&
            control.errors.required &&
            (control.touched || control.dirty)
            ">
</ng-content>
<ng-content select="[emailExist]"
            *ngIf="
            control.invalid &&
            control.errors.emailExist
            ">
</ng-content>
<ng-content select="[unknownError]"
            *ngIf="
            control.invalid &&
            control.errors.unknownError
            ">
</ng-content>
<ng-content select="[repassword]"
            *ngIf="
            control.invalid &&
            control.errors.mismatchedPasswords
            ">
</ng-content>
<ng-content select="[emailNotFound]"
            *ngIf="
            control.invalid &&
            control.errors.emailNotFound
            ">
</ng-content>
<ng-content select="[invalidPassword]"
            *ngIf="
            control.invalid &&
            control.errors.invalidPassword
            ">
</ng-content>
<ng-content select="[tooManyAttempts]"
            *ngIf="
            control.invalid &&
            control.errors.tooManyAttempts
            ">
</ng-content>
