<p-dialog [header]="openedDate$ | async"
          [visible]="openDayDetails$ | async"
          [modal]="true"
          [style]="{width: '50vw'}"
          [baseZIndex]="10000"
          [draggable]="false"
          [resizable]="false"
          [closable]="false"
          (onShow)="showDayDetails()">
  <button pButton
          (click)="closeDayDetails()"
          type="button"
          icon="pi pi-times"
          class="calendar-dialog__close-btn p-button-text p-button-rounded">
  </button>
  <form [formGroup]="tasksForm"
        (ngSubmit)="saveDayDetails()">
    <div formArrayName="tasks">
      <i (click)="addTaskFormGroup()"
         class="pi pi-plus"></i>
      <div *ngFor="let task of taskControls; let i = index"
           [formGroupName]="i"
           class="d-flex align-items-center mb-3"> <input type="text"
               pInputText
               formControlName="task" />
      </div>
    </div>
    <p-button icon="pi pi-check"
              type="submit"
              label="Save"
              class="p-button-text"></p-button>
  </form>
</p-dialog>
